[user]
	name = apozdniakov
	email = t0lia.gm@gmail.com
[commit]
	template = /home/t0lia/.gitmessage
[core]
	editor = vim
	pager = delta
	excludesfile = /home/t0lia/.gitignore
	autocrlf = input
#[merge]
#    tool = vimdiff 
#[diff]
#    external = vimdiff 
[color]
	ui = always
[alias]
    pretty-log = log --oneline --decorate --graph --all
[http]
	postBuffer = 524288000
[interactive]
	diffFilter = delta --color-only
