[user]
	name = pozdnyakov-as
	email = Pozdnyakov-AS@gaz-is.ru
[commit]
    template = .gitmessage
[core]
	editor = vim
	pager = less
    excludesfile = .gitignore
#[merge]
#    tool = vimdiff 
#[diff]
#    external = vimdiff 
[color]
	ui = always
[alias]
    pretty-log = log --oneline --decorate --graph --all
