[user]
	name = bigtheta
	email = bigtheta.org@gmail.com
[commit]
	template = /home/t0lia/.gitmessage
[core]
	editor = vim
	pager = less
	excludesfile = /home/t0lia/.gitignore
#[merge]
#    tool = vimdiff 
#[diff]
#    external = vimdiff 
[color]
	ui = always
[alias]
    pretty-log = log --oneline --decorate --graph --all
